*{
   box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    background-color: aliceblue;
}

header{
    background-color: beige;
    padding-inline: 5%;
    padding-top: 1%;
    display:flex;
    border-bottom: 1px solid gainsboro;
    justify-content: space-between; 
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: auto;
    width: auto;
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
    border: 2px ridge gray;
}

.page-name{
    border: 2px ridge gainsboro ;
    font-size: 100%;
    font-family: 'Merriweather';
    font-weight: 900;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px ridge gainsboro;
}
.nav-links{
    padding-inline: 10px;
    display: flex;
    list-style: none;
    gap: 1rem;
    text-decoration: none;
    align-items: center;
}

.nav-links li a:hover{
  background-color: wheat;
}

nav.links li a:active{
  background-color: orange;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}


.nav-links li a{
    background-color: whitesmoke;
    padding: 5px;
    width:  100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Merriweather';
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
    
}

main, footer{
  margin-top: 5%;
  padding-inline: 5%;
}

.page-title-container, .mission-statement {
  display: block;
  background-color:beige;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-block: 2%;
}
h1, h2, h3 {
font-family: Roboto, 'Merriweather', serif;
font-weight: 900;
margin-block: 0;
}
.page-title-container p, .mission-statement p{
  font-family: Merriweather;
  font-weight: 500;
  font-size: 1rem;
}

footer{
  background-color: beige;
  padding-block: 2%;

}

.contact-us{
  background-color: aliceblue;
  padding-inline: 3%;
  padding-block: 1.5%;
  margin-bottom: 10px;
  width: 100%;
}


.contact-us-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-us-list li {
  margin: 1%;
  border-radius: 3px;
  display: block;
  align-items: center;
   
}

.contact-us-list li a{
  text-decoration: none;
  color: blue
}
.contact-us-list li a:hover{
  color: darkslategrey;
  transition: color 0.3s ease;
  cursor: pointer;
}

footer nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;  
  width: 100%;
}
footer nav a{
  text-decoration: none;
  border: 2px ridge whitesmoke;
  border-radius: 5px;
  padding: 5px;
  color: black;
  margin-inline: 5%;
  background-color: wheat;
}
footer nav a:hover{
  background-color: aliceblue;
  transition: background-color 0.5s ease;
  cursor: pointer;
  
}
.copyright p{
  text-align: center;
}

.dark-mode{
   background-color: purple;
   color: whitesmoke;
   
}
.dark-mode-toggle-btn{
   display: block;
   background-color: black;
   color: whitesmoke;
   padding: 5px;
   margin-block: 5px;
   border: 2px solid white;
   border-radius: 5px;
   margin-left: 5%;
}
.dark-mode-toggle-btn:hover{
  background-color: grey;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.dark-mode-toggle-btn:focus{
  outline: 1px solid blue;
  outline-offset: 1px;
}

/*
.ongoing-projects{
  font-family: Roboto, 'Merriweather', serif;
 
}

.ongoing-projects h1{
  margin-bottom: 2%;
}
.ongoing-projects h1+h2{
  margin-bottom: 0%;
}
*/

@media (max-width: 768px) {

  footer nav{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    max-width: 50%;
    justify-self: center;
  }
  /* Show the hamburger button */
  header {
    max-height: 85px ;
  }
  .menu-toggle {
    display: flex;
    padding: 7px;
  }
  .menu-toggle:hover{
    background-color: whitesmoke;
  }
  nav {
    justify-content: left;
    width:fit-content;
    
    flex-direction: column;
    position: relative;
  }

 .nav-links {
  position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    top: calc(50% + 5px);
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    z-index: 1000;
    border-radius: 5px;
    background-color: antiquewhite;
    
  }
  .nav-links.active{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  
}
